html,
body{
  margin:0;
  padding:0;
  
}

.presentation {
  font-family: monserrat, sans-serif;
  color: #ffffff;
  font-size: 150%;
  text-align: left;
  position: static;
}

.titre{
  font-family: monserrat, sans-serif;
  color: #e7d1c0;
  position: fixed;
  transform: rotate(90deg);
  font-size: 120%;
  top: 40%; 
  left: -10%; 
  opacity:80%;
}

.contenant {
  background-image: url(images/fond.png);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: 100%;
  min-height: 1080px; 
  background-position: 100%;
  font-family: monserrat, sans-serif;
  color: #e7d1c0;
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 70px;
  padding-left: 10%;
  
}


.experiences{
  opacity:100%;
}


.lien{
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  row-gap: 10%;
  padding-right: 10%;
  justify-content: space-around;
  align-items: right;
} 

/* img {
  size: 10%;
  margin-right: 50%;
  display: flex;
  align-items: right;
   
  
} */

.cadre{
  opacity: 80%;
  border-radius: 10px;
  background-color: #e7d1c0;
  opacity:70%;
  width: 80%;
  padding: 5%;
  color:black;

}

.projets{
  display: block;
  background-image: url(images/fond.png);
}

.Ajout{
  background-color :rgb(255, 255, 255);
  opacity : 70%;
  font-family: monserrat, sans-serif;
  font-size: 200%;
  size:100%;
  margin:right;
  display: flex;
}

