html,
body{
  margin:0;
  padding:0;
  
}

.presentation {
  font-family: monserrat, sans-serif;
  color: #ffffff;
  font-size: 150%;
  text-align: left;
  position: static;
  margin-top:15%;
  padding-left: 12%;
  padding-right: 12%;
}

.titre{
  font-family: monserrat, sans-serif;
  color: #ffffff;
  position: fixed;
  transform: rotate(90deg);
  font-size: 150%;
  padding-top: 20px;
  min-width: 350px;
  top: 247px;
  left: -121px;
  opacity: 75%;
}

.contenant {
  background-image: url(images/fond.png);
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size: 150%;
  /* background-position: 100%; */
  font-family: monserrat, sans-serif;
  color: #e7d1c0;
  text-align: left;
  display: flex;
  flex-direction: column;
  row-gap: 70px;
  padding-right:10%;
  
}

.bodyexp{
  padding-top:15%;
  
}
.experiences{
  padding-left: 12%;
  padding-right: 12%;
  margin-bottom: -29px;
  padding-bottom: 68px;
}

a{
  display: flex;
  justify-content: flex-end; 
  flex-direction: row; 
  row-gap: 10%;
  padding: 5%;
  justify-content: space-between;
  align-items: right;
  
}
.lien{
  display: flex;
  justify-content: right;
  flex-direction: row;
  row-gap: 10%;
  padding-right: 10%;
  justify-content: space-around;
  align-items: right;
  padding-top:-60px;
} 


.cadre{
  opacity: 80%;
  border-radius: 10px;
  background-color: #e7d1c0;
  opacity:70%;
  width: 80%;
  padding: 5%;
  color:black;
  margin : 10%

}


.projets{
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 157px;
  min-height: 349px;
  padding-top: 130px;
  margin-top: 104px;
  margin-left: 41px;
  margin-right: -72px;
  margin-bottom: 74px;
  opacity: 20%;
  z-index: 3;
}
  
.bodyprojet{
  z-index: 3;
  opacity: 100%;
  margin-top: -683px;
  margin-left: 102px;
  margin-bottom: 86px;
  color:#ffffff;
  
}

/* =========================== POPUP=========================== */
.popup{
  position:absolute;
opacity:0;
z-index: 10;

}
.cadre#Modif{
  opacity:0;
}

a#Modif{
  border:0;
  background-color: rgba(0,0, 0, 0);
}



/* =========================== NAVBARRE =========================== */
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  position:center;
}
nav {
  width: 100%;
  position: fixed;
  

}
.navbarre{
  z-index:8;
  align-content: center;
  margin: 5%;
  text-align: right;
  margin-left: 15%;
  margin-right: 15%;
}

li {
  list-style: none;
  flex-direction: row;
  float: center;
  opacity:100%;
  
}
a {
  font-family: monserrat, sans-serif;
  font-size: 120%;
  color: #d0aa9d;
  text-decoration: none;
  text-align: center;
  
}

a:hover {
  opacity:100%;
  color:white;
  text-decoration:double;
  font-size: 180%;
  font-stretch:expanded;
  font-weight: bold;
  transition: 500ms;
  
}

.btn{
  position: relative;
  background-color: #d0aa9d;
  width: 180px;
  height: 50px;
  border:0px;
  border-radius: 30px;
  opacity: 70%;

}
.btn:hover{
  min-width: 198px;
  min-height: 55px;
  transition: 400ms;

}

/* =========================== FOOTER =========================== */

footer{
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 50px;
   

}

.logout{
  display:flex;
    align-items:flex-start;
    justify-content: left;
    text-align: left;
  padding-right: 20px;
}
.contact{
  display:flex;
  align-items:flex-end;
  text-align: right;
  padding-left:20px;
  justify-content: space-between;
}


