.body {
  margin: 0px;
}

.presentation {
  font-family: monserrat, sans-serif;
  color: #ffffff;
  font-size: 150%;
  text-align: left;
  position: static;
}
.titre {
  font-family: monserrat, sans-serif;
  color: #e7d1c0;
  position: fixed;
  transform: rotate(90deg); /* Équivalent à rotateZ(45deg) */
  font-size: 230%;
  padding-top: -2%;
  top: 30%;
  left: -15%;
  /* scroll-padding-block-end: ; */
}

.contenant {
  margin: 0px;
  background-image: url(images/fond.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  font-family: monserrat, sans-serif;
  color: #e7d1c0;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  row-gap: 70px;
  justify-content: center;
  padding-left: 10%;
}
